{% extends "catalog/base.html" %}

{% block title %}{{ title.name }} - Reelflix{% endblock %}

{% block content %}
<article class="detail">
    {% if title.backdrop_path %}
    <div class="detail-hero" style="background-image:url('https://image.tmdb.org/t/p/w1280{{ title.backdrop_path }}')">
    </div>
    {% endif %}
    <div class="detail-body">
        {% if title.poster_path %}
        <img class="detail-poster" src="https://image.tmdb.org/t/p/w500{{ title.poster_path }}" alt="">
        {% endif %}
        <div class="detail-info">
            <h1>{{ title.name }}{% if title.year %} ({{ title.year }}){% endif %}</h1>
            {% if title.genres.all %}
            <p class="genres">
                {% for genre in title.genres.all %}
                <a class="chip" href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                {% endfor %}
            </p>
            {% endif %}
            {% if title.description %}<p class="description">{{ title.description }}</p>{% endif %}
            <dl class="meta">
                {% if title.runtime %}
                <div>
                    <dt>Runtime</dt>
                    <dd>{{ title.runtime }} min</dd>
                </div>
                {% endif %}
                {% if title.rating %}
                <div>
                    <dt>Rating</dt>
                    <dd>{{ title.rating }}/10</dd>
                </div>
                {% endif %}
                <div>
                    <dt>Type</dt>
                    <dd>{{ title.get_media_type_display }}</dd>
                </div>
            </dl>
        </div>
    </div>
</article>
{% endblock %}